#container {
  margin: 1em 10em;
  font-family: monospace;
}

ul#list li {
  margin: .6em 0;
}

#output {
  border: 1px solid #000;
  padding: 0.5em;
  margin: 2em 0em;
  min-height: 10em;
}

.bb {
  padding: 0.3em 0.1em;
}
